<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="template1">
<head>
	<meta charset="utf-8">
	<title>Taxes</title>
</head>
<body>
	
	<div layout:fragment="content" class=container>
		<div class="card border-primary"> 
			<div class="card-header text-white bg-primary">Liste des taxes</div><!-- Par défaut gris -->
			<div class=card-body>
				<div class=container>
					<form th:action="@{/taxes}" method="get" id=myForm>
						<label>Entreprise : </label>
						<select name=code onchange="document.getElementById('myForm').submit()">
							<option th:each="e:${entreprises}" th:text="${e.nom}" th:value="${e.code}" ></option>
						</select>
						<!-- <button class="btn btn-primary">Chercher</button>-->
					</form>
				</div>
				<table class="table">
					<tr>
						<th>Id</th><th>Titre</th><th>Date</th><th>Montant</th><th>Type</th>
					</tr>
					<tr th:each="t:${taxeList}" >
						<td th:text="${t.id}"></td>
						<td th:text="${t.titre}"></td>
						<td th:text=${t.date}></td>
						<td th:text=${t.montant}></td>
						<td th:text=${t.class.simpleName}></td>
					</tr>
				</table>
				
			</div>
		</div>		
	</div>
	
</body>
</html>
